@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700,800');

@colorPrimary: #111;
@fontPrimary: 'Raleway', sans-serif;
@gap-horizontal: 20px;
@gap-vertical: 2px;
@time-anim: 2s;
@blend-mode-1: normal;
@blend-mode-2: normal;
@blend-mode-3: normal;
@blend-mode-4: normal;
@blend-mode-5: normal;
@blend-color-1: transparent;
@blend-color-2: transparent;
@blend-color-3: transparent;
@blend-color-4: transparent;
@blend-color-5: transparent;