@import "_variable";

.cover {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10rem;

  .text {
    position: relative;
    margin: 0 0 2rem 0;

    h1 {
      font-size: 4rem;
      margin: 0;
    }

    p {
      font-size: 2.4rem;
      margin: 0;
    }
  }
}

@media (max-width: 767px) {

  .cover {
    padding: 5rem;
    align-items: stretch;

    .text {
      text-align: center;
    }
  }
}