@import "_variable";

.page-projects {

  h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0 0 3rem 0;
  }

  ul {
    list-style-type: none;
    margin: 0 0 3rem 0;
    padding: 0;
    width: 100%;

    li + li {
      margin-top: 3rem;
    }
  }

  .item {
    
    .description {
      width: 100%;

      h2 {
        font-size: 2.6rem;
        line-height: 1;
        margin: 0 0 1rem 0;
      }

      .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a {
          display: inline-block;
          font-size: 1.4rem;
          color: @colorPrimary;
          max-width: 100%;
          overflow-wrap: break-word;
          margin: 0 0 0.5rem 0;

          &:last-of-type {
            margin-bottom: 1rem;
          }
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;

        span {
          padding: 5px 10px;
          font-size: 1.4rem;
          background-color: fade(@colorPrimary, 10%);
          border-radius: 4px;
          margin: 0 10px 10px 0;
  
          &:last-child {
            margin-right: 0;
          }
        }
      }

      p {
        margin: 1rem 0;
        line-height: 1.25;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}